<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="api-action">
    <a href="/">홈</a>
    |
    <a href="history.jsp">위치 히스토리 목록</a>
    |
    <a href="load-wifi.jsp">Open API 와이파이 정보 가져오기</a>
  </div>
</body>

</html>